html {
  width: 100vw;
  height: 100vh;
  margin: 0%;
}

body {
  margin: 0%;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/08/06/12/34/taxi-1574278_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.mainContainer {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(32, 47, 107, 0.7);
  padding: 25px;
  display: flex;
  justify-content: center;
  width: 500px;
  align-self: center;
}

.fileLoad {
  border-radius: 0%;
  border-color: transparent;
}

.fileButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #00008B;
  height: 40px;
  color: white;
  width: 200px;
  font-size: 25px;
  border-radius: 0%;
  border-color: transparent;
}

.fileButton:hover {
  background-color: #191970;
  color: white;
}

.dataContainer {
  margin: 2rem;
}

.centerElement {
  text-align: center;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.returnButton {
  margin-top: 40px;
  background-color: #00008B;
  color: white;
  font-size: 25px;
  border-radius: 0%;
  border-color: transparent;
}
.returnButton:hover {
  background-color: #191970;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bolder;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #191970;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Spinner Style */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}